<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android1project">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_med_mate_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_med_mate_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".GameMenuActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity android:name=".ScoreBoardActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity android:name=".Option1Preview"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <activity android:name=".Option1Activity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity android:name=".Option2Preview"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <activity android:name=".Option2Activity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity android:name=".Option3Preview"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <activity android:name=".Option3Activity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity android:name=".Option4Preview"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <activity android:name=".Option4Activity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity android:name=".Option5Activity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity android:name=".Option6Activity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <service android:name=".MusicService"
            android:enabled="true"/>

    </application>

</manifest>